/* Styles to general template */
* {
    font-family: sans-serif;
}
html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

.footlink {
    color: white;
    font-family: sans-serif;
}

.foot {
    position: absolute !important;
    color: white;
    background-color: #1565c0;
    font-family: sans-serif;
    font-size: 1.5rem;
    bottom: 0 !important;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.nav-user {
    color: white;
    background-color: #1565c0;
}

.button-7 {
    color: white;
    background-color: #1565c0 !important;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
    background-color: #07c;
}

.button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
    background-color: #0064bd;
    box-shadow: none;
}

/* Title*/

.title {
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
    color: #0064bd;
    font-size: 3rem;
    padding: 10px;
}
/* Styles to show/owner */
.container {
    font-family: sans-serif !important;
    font-size: 1.5rem !important;
    position: relative;
}

.form-control {
    font-family: sans-serif !important;
    font-size: 1.5rem !important;
    font-style: oblique;
    background-color: #e8e9e9e2 !important;
    margin-bottom: 0px !important;
}

.form-label {
    font-family: sans-serif !important;
    font-size: 1.5rem !important;
    font-style: oblique;
    margin-bottom: 0px !important;
}

/* Styles to edit/propierties */

.input {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
}

/* Styles to index/propierties */

.icon {
    background-color: #1565c0;
}
