/* General */

* {
    font-family: serif;
    color: black;
}

body {
    z-index: 9999;
}
/* Form */

.btn-search {
    padding-top: 150px;
    align-items: left;
    margin-left: 20px;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    text-align: left;
}

.barra-busqueda {
    background-color: #fef4ea;
    border: solid 1px black;
    padding-top: 2%;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.form-imputs {
    display: inline-block;
    align-content: center;
    justify-content: center;
}

label {
    display: inline-flex !important;
    font-family: serif;
    padding-bottom: 0 !important;
}

.form-control-orange {
    border-color: #f55d26;
    border-radius: 15px;
    width: 100%;
    height: auto;
    align-content: center;
}

.form-floating {
    margin-bottom: 15px !important;
    border-color: #ea5928;
    margin-right: 10px;
    width: 100%;
    height: auto;
    text-align: center !important;
    padding-top: 5px;
    padding-bottom: 10px;
}

.form-control-orange:focus {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    border-color: black;
}

.btn-form-control {
    width: 50%;
    height: auto;
    border: 0.5px solid hsl(10, 89%, 47%);
    border-radius: 15px;
    background-color: hwb(16 22% 7%);
    font-family: serif;
    font-size: 1.1rem;
    margin-top: 10px;
}

.btn-form-control:focus {
    border-color: black;
    background-color: white;
    color: black;
}

/* Cards */
.card-cont {
    margin-bottom: 120px;
    background-color: #fef4ea;
}

.line-card {
    display: flex;
}

.ver_mas:hover {
    color: #ea5928;
}
.card {
    display: inline-block;
    height: 400px !important;
    width: 400px !important;
}

.card-body {
    text-align: left;
    padding-left: 10px;
}

.card-container {
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 50px;
}

.img-card {
    width: 400px !important;
    display: inline-block;
}

.button-card {
    background-color: #f55d26;
    width: 100px;
    border-radius: 15px;
    border-color: orangered;
}

/* VER MAS */

.form-datos {
    background-color: #fef4ea;
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 150px;
    margin-top: 100px;
    height: 100%;
    position: relative;
}

.form-reg-orange {
    border-color: #f55d26;
    width: 100%;
    background-color: #fef4ea !important;
}
.form-check {
    border-color: #ea5928;
}

.form-floating-reg {
    margin-top: 25px;
    padding-left: 40px !important;
    padding-right: 40px;
}

.carousel-img {
    width: 100% !important;
    height: 100% !important;
}

.btn-volver {
    background-color: #f55d26;
    border: none;
    width: 15%;
    color: black;
    display: inline-block !important;
    margin-inline-end: 30px !important;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 15px;
}
