body {
    font-family: serif;
    background-color: #fef4ea;
    z-index: 9999;
}

.form {
    text-align: center;
    position: relative;
    margin-bottom: 150px;
    margin-top: 150px;
    border-radius: 15px;
    background-color: #fef4ea;
}

label {
    padding-left: 40px;
}

.form-login {
    /* centrado vertical */
    text-align: center;
    position: absolute;
    margin-bottom: 150px;
    background-color: #fef4ea;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    top: 25%;
    left: 35%;
}

.logo-bi {
    margin-bottom: 20px !important;
    margin-top: 20px;
}

.row {
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 15px;
    text-align: start !important;
    font-family: serif;
    font-size: 2rem !important;
    text-align: center !important;
}
.form-check-label {
    display: flex !important;
    margin-left: 100px !important;
    font-family: serif;
    padding-bottom: 0 !important;
}

.form-reg-label {
    display: flex !important;
    margin-left: 20px !important;
    font-family: serif;
}

.form-floating {
    margin-bottom: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px;
}

.form-floating {
    margin-bottom: 15px !important;
}
.form-control:focus {
    box-shadow: none;
    border-color: #f55d26;
}

.form-control:hover .form-select:hover {
    box-shadow: none;
}

.btn-form-control-registro {
    background-color: #f55d26;
    width: 15%;
    color: white;
    display: inline-block !important;
    margin-inline-end: 30px !important;
    margin-bottom: 50px;
}

.btn-form-control-registro:focus {
    border-color: black;
    background-color: #f55d26;
    color: white;
    box-shadow: none;
}

.form-floating {
    padding-left: 100px;
}

.form-control-orange {
    border-color: #f55d26;
    width: 300px;
    margin-left: 80px;
}

.form-reg-orange {
    border-color: #f55d26;
    width: 100%;
}

.form-control-orange:focus {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    border-color: black;
}

.btn-form-control {
    background-color: #f55d26;
    width: 300px;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 100px;
}

.btn-form-control:focus {
    border-color: black;
    background-color: #f55d26;
    color: white;
    box-shadow: none;
}

p {
    margin-top: 30px !important;
}

.form-check {
    margin-left: 100px;
    text-align: left;
}

.check-label {
    padding-left: 5px;
}

.form-check-input {
    background-color: white;
    border: solid 1px orangered;
}

.form-check-input:hover {
    background-color: #f55d26;
}

.form-check-input:focus {
    background-color: #f55d26;
    box-shadow: none;
    border: #f55d26;
}

.form-check-input:visited {
    background-color: #f55d26;
}

#modal-preview1 {
    padding-top: 20px;
}
