/* General */

* {
    font-family: serif;
    color: black;
}

.nos-container {
    margin-top: 150px;
}

.carousel-item {
    height: 300px;
}

.img-carrusel {
    position: cover;
    width: 100% !important;
    height: 100% !important;
}

.title-carrousel {
    font-size: 2.8rem;
    color: white;
}

.text-carrousel {
    font-size: 1.2rem;
    color: white;
    justify-content: center !important;
}
