* {
    font-family: serif;
    color: black;
}

.ubicacion {
    height: 600px !important;
}

.v-line1 {
    height: 600px;
    left: 62%;
    position: absolute;
}

.heading {
    margin-top: 20%;
    padding-left: 30%;
}

.lead {
    margin-bottom: 30px;
}

.list-datos {
    position: relative;
}
.group-item {
    border: solid 1px orangered;
    list-style: none;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 30px;
    width: 100%;
}

iframe {
    border: solid 1px black;
    height: 550px !important;
    width: 800px !important;
    margin-top: 5%;
    margin-left: 5%;
}
